<h2>ユーザー情報の編集</h2>

<%= form_for(current_user, url: user_path(current_user), html: { method: :patch }) do |f| %>
  <div>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "トップに戻る", root_path %>
